<div>
  <h1>Quản lý hủy đơn</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Tên khách hàng</th>
        <th scope="col">Số Điện thoại,Địa chỉ</th>
        <th scope="col">Đơn hàng</th>
        <th scope="col">Tổng tiền</th>
        <th scope="col">Xử lý</th>
      </tr>
    </thead>
    <tbody>
      {{#each data}}
        <tr>
          <td>{{this.name}}</td>
          <td>{{this.phone}},{{this.address}}</td>
          <td>{{{detailOrder this.detailOrder}}}</td>
          <td>{{this.totalPay}}</td>
          <td>
            <a
              type="button"
              class="btn btn-danger"
              href=""
            >Xóa</a>
            <a
              type="button"
              class="btn btn-info"
              href=""
            >Khôi phục</a>
          </td>
        </tr>
        {{else}}
        <tr><td colspan="4" class="text-center"> Chưa có đơn hàng nào bị hủy!</td></tr>
      {{/each}}
    </tbody>
  </table>
  {{{paging total_pages "/cart-admin/listFailer"}}}
</div>